<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/rabbit
       http://www.springframework.org/schema/rabbit/spring-rabbit-1.0.xsd">

    <description>rabbitmq 配置</description>
    <bean id="Jackson2JsonMessageConverter" class="org.springframework.amqp.support.converter.Jackson2JsonMessageConverter"/>
    <rabbit:connection-factory id="rabbitConnectionFactory" host="${mq.host}" virtual-host="${mq.vhost}" username="${mq.username}" password="${mq.password}" port="${mq.part}"/>
    <rabbit:admin connection-factory="rabbitConnectionFactory"/>


    <rabbit:template exchange="dev-direct-exchange" id="rabbitTemplate" connection-factory="rabbitConnectionFactory" message-converter="Jackson2JsonMessageConverter"/>
    <rabbit:direct-exchange name="dev-direct-exchange" id="dev-direct-exchange" auto-delete="false" durable="true">
        <rabbit:bindings>
            <rabbit:binding queue="dev-queue-key" key="dev-queue-key"></rabbit:binding>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <rabbit:queue id="dev-queue-key" name="dev-queue-key" durable="true" auto-delete="false" exclusive="false"></rabbit:queue>



    </beans>