<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.1.xsd
            http://www.springframework.org/schema/aop  
            http://www.springframework.org/schema/aop/spring-aop-3.1.xsd" >
    <!-- <aop:config>
        获取数据库连接
        <aop:aspect id="getTemplate" ref="miniDaoHandlerAspect">
            <aop:before method="doBefore" pointcut-ref="preConn" />
            <aop:pointcut
                expression="execution (* *.*Service*.*(..))"
                id="preConn" />
        </aop:aspect>
    </aop:config>-->

</beans>